.root {
    -fx-font-size: 16pt;
    -fx-font-family: "Courier New";
    -fx-base: rgb(132, 145, 47);
    -fx-background: rgb(225, 228, 203);
}

.button {
    -fx-text-fill: rgb(49, 89, 23);
    -fx-border-color: rgb(49, 89, 23);
    -fx-border-radius: 5;
    -fx-padding: 3 6 6 6;
}

.borders {
    -fx-border-color: rgb(103, 100, 78);
    -fx-border-style: dotted;
    -fx-border-width: 1.5;
    -fx-border-insets: -5;
}

.header {
    -fx-font-size: 25pt;
    -fx-font-family: "Impact";
}

#scroll-playlists.scroll-pane {
    -fx-font-family: "Courier New";
    -fx-background-color: yellow;
}

#scroll-playlists.scroll-pane .viewport {
    -fx-background-color: transparent;
}

#playlists {
    -fx-background-color: red;
}

#playlists > * {
    -fx-background-color: lightblue;
    -fx-text-fill: white;
    -fx-text-overrun: clip;
}

#playlists > *:hover {
    -fx-background-color: yellow;
    -fx-text-fill: black;
}

#active {
    -fx-background-color: lightblue;
    -fx-border-color: grey;
}

.song.slider {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-insets: 0;
    -fx-padding: 0 -10 0 -10;
}

.song.slider .thumb {
    -fx-background-color: white;
    -fx-pref-width: 25;
    -fx-pref-height: 25;
}

.song.slider .track {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0;
    -fx-border-insets: 0;
}

.song.progress-bar {
    -fx-background-insets: 1;
    -fx-background-radius: 1;
}

.song.progress-bar .track {
    -fx-background-color: rgb(129, 140, 48);
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.song.progress-bar .bar {
    -fx-background-color: rgb(97, 195, 148);
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.volume.slider .thumb {
    -fx-background-image: url("/icons/speaker.png");
    -fx-background-size: 15, 15;
    -fx-pref-width: 20;
    -fx-pref-height: 20;
    -fx-background-position: center, center;
    -fx-background-repeat: no-repeat;
}
